{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{% url 'test_app:home_view' %}" class="btn btn-primary btn-sm">Home</a></li>
  <li role="presentation"><a href="{% url 'auth:logout' %}?next={% url 'test_app:login_view' %}" class="btn btn-primary btn-sm">Logout</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
    {% if user.is_authenticated  and not user.is_superuser %}
     <h2>Welcome {{ user.first_name }} {{ user.last_name }} !!</h2>
    {% endif %}
{% endblock %}
</body>
</html>